.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: tranform 0.5s ease-in-out;
}

.carousel-slide img {
  min-width: 100%;
  height: auto;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000000;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.carousel-arrow.left {
  left: 10px;
}

.carousel-arrow.right {
  right: 10px;
}

.carousel-indicators {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicators span {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #333;
}