.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin: 10px 0;
  position: relative;
  font-size: 16px;
}

.checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.checkbox-container input:checked + .checkmark {
  background-color: #3171DE;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-container input:checked + .checkmark::after {
  display: block;
}

.label-text {
  margin-left: 12px;
  font-size: 16px;
  color: #333;
  transition: color 0.3s;
}