.App  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #eaeafd;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}